.headerBlock{
    border-bottom: solid 1px black;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}
.listNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}



