.container{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.blockCart{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 900px;
    height: 600px;
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-bottom: 100px;
    border-radius: 30px;
}

.listCart{
    display: flex;
    gap: 10px;
    font-size: 20pt;
    flex-direction: column;
}

.header{
    margin-top: 20px;
    font-size: 20pt;
}