.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 150px;
}

.blockRes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listItemProps{
    display: flex;
    gap: 10px;
    font-size: 20pt;
    cursor: pointer;
}

.blockInfo{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20pt;
}

.price{
    font-size: 35pt;
}


.orderButton{
    cursor: pointer;
    border: none;
    width: 150px;
    height: 70px;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20pt;
    border-radius: 20px;
    transition: backgroundColor, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
    
}



.orderButton:hover{
    background-color: lightslategray;
}

.blockInfoItem{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itemName{
    font-size: 35pt;
}

.sizesText{
    font-size: 35pt;
}

.listItem{
    font-size: 35pt;
}

.descrItemLink{
    color: gray;
    text-decoration: underline; 
}

.wrapper:hover .backdrop {
    visibility: visible;
    opacity: 1;
}


.dropdown{
    position: relative;
    display: inline-block;
    width: 120px;
}

.dropdownContent{
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    width: 300px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s;
    pointer-events: none;
    border-radius: 0.5rem;

}

.dropdown:hover .dropdownContent {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

.dropdownContent > ul > li {
      color: #374151;
      padding: 0.5rem 1rem;
      text-decoration: none;
      display: block;
    }
.dropdownContent > ul > li :hover {
    background: #f3f4f6;
}


.buttonsList{
    display:  flex;
    gap: 20px;
}

.textPulse{
    width: 120px;
}