.blockProducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 320px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 30px;
    padding: 10px;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
}
.blockProducts:hover{
    scale: 1.1;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 300px;
}

.listProducts{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.backButton{
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    outline: none;
    background-color: white;
    color: black;
    border-radius:  30px;
    width: 100px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: 100px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 12px;
}

:global(html.dark) .backButton{
    background-color: #494949;
    color: #fff;
}


@media screen and (max-width: 1023px) and (min-width: 768px) {
    .container{
        
        margin-bottom: 100px;
        margin-top: 75px;
    }

    .listProducts{
        flex-wrap: wrap;
        gap: 30px;
    }
    .blockProducts{
        width: 230px;
        height: 280px;
    }
    .backButton{
        display: none;
    }
}

@media screen and (max-width: 767px) and (min-width: 720px) {
    .container{
        margin-top: 75px;
        
        margin-bottom: 100px;
    }

    .backButton{
        display: none;
    }

    
}


@media screen and (max-width: 719px) and (min-width: 570px) {
    .container{
        margin-top: 50px;
        
        margin-bottom: 100px;
    }

        .blockProducts{
        width: 230px;
        height: 280px;
    }

    .backButton{
        display: none;
    }
}

@media screen and (max-width: 569px) and (min-width: 481px){
    .container{
        margin-top: 50px;
        
        margin-bottom: 100px;
    }

        .blockProducts{
        width: 210px;
        height: 260px;
    }
    .backButton{
        display: none;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px){
        .container{
        margin-top: 50px;

        margin-bottom: 100px;
    }

    .backButton{
        display: none;
    }
}