.listSocialMeadia{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.blockFooter{
    border-top: solid 1px black;
    width: 100%;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) and (min-width: 320px){
    .listSocialMeadia{
        gap: 10px
    }
}