.listNav{
    display: flex;
    gap: 12px;
    font-size: 18pt;
}

.logOut{
    cursor: pointer;
}

.languages{
    border: none;
    background-color: #fff;
    color: #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18pt;
    cursor: pointer;
}

:global(html.dark) .languages{
    background-color: #1f1f1f;
    color: white
}

.languages:focus{
    outline: none;
    box-shadow: none;
    background-color: transparent;
}


.iconsTheme{
    cursor: pointer;
}

@media screen and (max-width: 719px) and (min-width: 481px) {
    .languages{
        display: none;
    }
    .iconsTheme{
        display: none;
    }

    .listNav{
        font-size: 16pt;
        
    }
}


@media screen and (max-width: 480px) and (min-width: 320px){
        .languages{
        display: none;
    }
    .iconsTheme{
        display: none;
    }

    .listNav{
        display: none;
        
    }
}