.container{
    max-width: 1200px;
    margin: 0 auto;
}

.blockHomePage{
    display: flex;
    justify-content: center;
    flex-direction: column;

}


.hero{
    margin-top: 40px;
    /* border: 1px solid black; */
    background-image: url("/home-photo-min.png");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 32pt;
    font-style: italic;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 30px;
     box-sizing: border-box; /* важно при паддингах */
}
.textHero{
    font-size: 44pt;
}


.listHelp{
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
}

.blockHelp{
    margin-top: 40px;
    margin-bottom: 40px;
}

.listItems{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.blockItems{
    margin-top: 40px;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 30px;
    padding: 10px;
    position: relative;
}
.headerItems{
    margin-bottom: 25px;
    margin-top: 15px;
    font-size: 26pt;
}
.blockProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 320px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 20px;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blockProducts:hover {
  scale: 1.1
}


.upButton{
    /* border: 1px solid #000; */
    background-color: #fff;
    color: #000;
    border-radius: 50%;

    width: 50px;
    height: 50px;
    transition: scale, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    cursor: pointer;
    position: fixed;
    left: 90%;
    z-index: 999;
    
}

.upButton:hover{
    scale: 1.1;
}


.helpButton{
    border: none;
    background-color: #fff;
    color: #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16pt;
    transition: scale, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}
.helpButton:hover{
    scale: 1.1;
}


:global(html.dark) .helpButton{
    background-color: gray;
    color: white;
}


@media screen and (max-width: 1023px) and (min-width: 768px) {
  .container {
    max-width: 767px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero {
    width: 100%; /* ✅ вместо 767px */
    height: 300px;
    max-width: 767px;
  }

  .textHero {
    font-size: 30pt;
  }

  .listHelp{
    gap: 65px
  }
}

@media screen and (max-width: 767px) and (min-width: 720px) {
  .container {

    padding-left: 30px;
    padding-right: 30px;
  }

  .hero {
    width: 100%; /* ✅ вместо 767px */
    height: 300px;
    max-width: 767px;
  }

  .textHero {
    font-size: 25pt;
  }

  .headerItems{
    font-size: 22pt;
  }

  .blockProducts{
    width: 250px;
    height: 300px;
  }

  .listHelp{
    gap: 50px
  }
  .listItems{
    gap:20px
  }
}


@media screen and (max-width: 719px) and (min-width: 570px) {
  .container {
    max-width: 570px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .hero {
    width: 100%; /* ✅ вместо 767px */
    height: 300px;

  }

  .textHero {
    font-size: 15pt;
  }

  .headerItems{
    font-size: 18pt;
  }

  .blockProducts{
    width: 220px;
    height: 280px;
  }

  .listHelp{
    gap: 65px
  }
  .listItems{
    gap:15px
  }

  .helpButton{
    width: 120px;
    font-size: 12pt;
  }
}

@media screen and (max-width: 569px) and (min-width: 481px){
      .container {
    max-width: 481px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .hero {
    width: 100%; /* ✅ вместо 767px */
    height: 300px;

  }

  .textHero {
    font-size: 15pt;
  }

  .headerItems{
    font-size: 15pt;
  }

  .blockProducts{
    width: 180px;
    height: 240px;
    font-size: 12pt;
  }

  .listHelp{
    gap: 25px
  }
  .listItems{
    flex-wrap: wrap;
    gap:15px
  }

  .helpButton{
    width: 120px;
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) and (min-width: 320px){
      .container {
    max-width: 320px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .hero {
    width: 100%; /* ✅ вместо 767px */
    height: 300px;

  }

  .textHero {
    font-size: 10pt;
  }

  .headerItems{
    font-size: 12pt;
  }

  .blockProducts{
    width: 180px;
    height: 240px;
    font-size: 12pt;
  }

  .listHelp{
    flex-direction: column;
    gap: 15px
  }
  .listItems{
    flex-wrap: wrap;
    gap:15px
  }

  .helpButton{
    width: 250px;
    font-size: 15pt;
  }
}