.blockNotFound{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 30px;
    padding: 24px;
}

.error{
    font-size: 20pt;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.textError{
    font-size: 16pt;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.teamError{
    color: gray;
    padding-top: 10px;
    font-size: 14pt;
    text-decoration: underline;
    cursor: pointer;
}

.errorList{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}