.container{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.blockCart{
    overflow-y: hidden;
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 900px;
    height: 600px;
    padding-left: 40px;
    padding-bottom: 100px;
}

.wrapper{
    height: 600px;
    overflow-y: auto;  
}


/* Общие стили скролла */
.wrapper::-webkit-scrollbar {
  width: 6px; /* ширина вертикального скролла */
}

.wrapper::-webkit-scrollbar-track {
  background: transparent; /* фон трека */
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #aaa; /* цвет самого "ползунка" */
  border-radius: 4px;       /* скругление углов */
}

.wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* при наведении */
}


.listCart{
    margin-top: 80px;
}
.listCart > li{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    
}

.deleteButton{
    border: none;
    background-color: #F24141;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 30px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-size: 12pt;
    transition: scale, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
    
}

.deleteButton:hover{
    scale: 1.01;
}
.deleteButton:active{
    scale: 0.99
}

.header{
    margin-top: 20px;
    font-size: 20pt;
    text-align: center;
}

.orderButton{
    border: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightgreen;
    border-radius: 30px;
    width: 150px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14pt;
    margin-left: 640px;
    cursor: pointer;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.orderButton:hover{
    scale: 1.02
}
.orderButton:active{
    scale: 0.99
}

.orderButton:focus{
    border: 1px solid lightgray;
}


.blockHeaders{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}