.backDrop{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


 .modal{
    background-color: white;
    width: 800px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 30px;
    

}

:global(html.dark) .modal{
    background-color: #494949;
    color: #fff;
}


.icon{
    cursor: pointer;
    margin-top: 20px;
    margin-left: 750px;
    
}
.header{
    text-align: center;
    font-size: 18pt;
    letter-spacing: 0.04em;
}






.orderButton{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: white;
    width: 300px;
    height: 45px;
    border-radius: 10px;
    font-size: 20pt;
    cursor: pointer;
    transition: scale, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}


:global(html.dark) .orderButton{
    background-color: gray;
    color: white;
}

.orderButton:hover{
    scale: 1.01;
}
.orderButton:active{
    scale: 0.99
}


.fromBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.label{
    display: flex;
    flex-direction: column;
    font-size: 25pt;
    margin-bottom: 4px;
}


.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    
}


.orderVariants{
    background-color: #fff;
    color: #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18pt;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid lightslategray;
    margin-bottom: 10px;
    transition: border, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.orderVariants:focus{
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid lightslategray;
}

.inputsOrder{
    background: transparent;
    border: none;
    border-bottom: 1px solid lightslategray;
    
    width: 100%;
    height: 35px;
    
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14pt;
    padding-left: 12px;
    margin-bottom: 10px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.inputsOrder:focus{
    
    border-bottom: solid 1px lightgray;
    outline: none;
}

.inputsOrder::placeholder{
    color: gray;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputsOrder:focus::placeholder{
    color: lightgray;
}

:global(html.dark) .inputsOrder::placeholder{
    color: white;
}

.formBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    gap: 40px
}


.sizeList{
    display: flex;
    justify-content: space-evenly;
    padding-left: 12px;
    border: none;
    border-bottom: 1px solid lightslategray;
    
}

.sizeList > li{
    cursor: pointer;
    font-size: 18pt;
    color: gray;
}


.sizeList > li:focus{
    color: lightgray;
}


.paymentMethod{
    display: flex;
    gap: 20px;
}




.paymentMethodButton{
    border:none;
    background-color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 175px;
    height: 50px;
    font-size: 14pt;
    border-radius: 10px;
    letter-spacing: 0.04em;
    color: white;
    cursor: pointer;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



.paymentMethodButton:hover{
    opacity: 0.8;
}
.paymentMethodButton:active{
    scale: 0.98;
}

.paymentMethodButton:focus{
    background-color: lightgray;
}

.blockPayment{
    display: flex;
    align-items: center;
    gap: 14px;
}


.textPayment{
    color: gray;
    font-size: 14pt;
}



:global(html.dark) .textPayment{
    color: white;
}